@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5" style="color:#663399; text-align:center"><b>Beauty Salon</b></h1>
    <h4 style="color:#663399; text-align:center"><em>Book your appointment here!</em></h4>
</div>
